FEZ.Mod.mm/bin/
FEZ.Mod.mm/obj/
FEZ.Mod.mm/*.sln
FEZ.Mod.mm/*.userprefs
FezEngine.Mod.mm/bin/
FezEngine.Mod.mm/obj/
FezEngine.Mod.mm/*.sln
FezEngine.Mod.mm/*.userprefs
FEZ.Editor.mm/bin/
FEZ.Editor.mm/obj/
FEZ.Editor.mm/*.sln
FEZ.Editor.mm/*.userprefs
FEZ.Speedrun.mm/bin/
FEZ.Speedrun.mm/obj/
FEZ.Speedrun.mm/*.sln
FEZ.Speedrun.mm/*.userprefs
Common.Mod.mm/bin/
Common.Mod.mm/obj/
Common.Mod.mm/*.sln
Common.Mod.mm/*.userprefs

FEZ.Secret.mm/*
